html {background: #333;}
html {
    display: flex;
    justify-content: center;
}
body {background: #111; height: 600px; width: 330px; color: white;}

* {
	transition: all .5s ease-in-out;
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
	position: relative;
	outline: none;
}

body * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.AuthWindow {
	top: 0px;
    position: absolute;
    z-index: 10;
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;
    text-align: center;
	transition: all 10s;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-content: center;
}

.AuthWindow h1 {transition: none}
.AuthWindow input {background: black; padding: 10px; transition: all .3s; border: solid 2px #ff007d; width: 85%; border-radius: 10px; color: white;}
.AuthWindow input:hover {border-color: white;}
.AuthWindow button {margin-top: 40px; background: #111; padding: 10px; transition: all .3s; border: solid 2px #ff8ec5; border-radius: 10px; color: white}
.AuthWindow button:hover {border-color: white}
.AuthWindow button.cancelBtn {position: absolute; display: none; z-index: 4; bottom: 10px}

h1, p {width: fit-content; margin-bottom: 0px}

.flex, .Flex {display: flex}
.flex.vertical, .Flex.vertical {flex-direction: column}
.flex.centered, .Flex.centered {align-items: center}

h1.title {font-weight: 600; margin-top: 10px; font-size: xxx-large;}
p.subtitle {color: #999; font-size: small; margin-top: 5px; }

div.flex.vertical.centered {
    height: 600px;
	transition: all .5s;
	z-index: 2;
	left: 0px;
    overflow: hidden;
}

div.proxyConnection {
    min-height: 300px;
    padding: 20px;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
	position: relative;
    justify-content: center;
}

div.proxyConnection button#toggle {
    padding: 10px;
    aspect-ratio: 1/1;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    scale: 1.2;
	z-index: 2;
    background: black;
    border: solid 3px red;
    color: white;
    box-shadow: 0 0 20px 2px #ff0000cc;
}

div.proxyConnection button#toggle.active {
	box-shadow: 0 0 20px 2px #ff0000cc;
}

div.proxyConnection span.animationBlock {
	position: absolute;
	width: 50px;
	height: 50px;
	background: radial-gradient(transparent -30%, #00a800 35%, transparent 70%);
	border-radius: 200px;
	transition: all .65s ease-out, opacity .85s ease-out;
	z-index: 1;
	opacity: 0.75;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
}

div.proxySelector {
	z-index: 2;	
	position: relative;
	top: -40px;
	opacity: 1;
	cursor: pointer;
}
div.proxySelector p, div.proxySelector img {opacity: 0.6}

div.proxySelector:hover img {
	opacity: 0.8;
}

div.proxySelector img {
	position: relative;
	transition: all .3s ease;
	left: 10px;
	filter: brightness(1.15);
}

div.WhiteListEditor {
    margin-top: -50px;
    top: 30px;
    z-index: 2;
    justify-content: center;
    width: 100%;
    position: relative;
}

div.WhiteListEditor:hover button {
	border: solid 1px white;
}

div.WhiteListEditor button {
	padding: 10px; transition: all .3s; border: solid 1px #ff007d; cursor: pointer; padding-left: 10%; border-radius: 10px; color: white; background: black; width: 80%;
}
div.WhiteListEditor img {
	position: absolute; left: 25%; width: 24px; height: 24px; top: 50%; cursor: pointer; transform: translateY(-50%) scale(0.9);
}


span.background {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
	opacity: 0.5;
    background: radial-gradient(#ff000069 20%, transparent 70%);
    rotate: 90deg;
    left: 50%;
	transition: all .5s, filter 3s;
    top: 40%;
    transform: translate(-50%, 50%) scale(1.2);
}


div.TypeSelector {
	position: relative; 
	top: 10px;
	overflow: hidden;
	opacity: 0;
	padding-top: 0px;
	top: -30px;
	z-index: 1;
    display: flex;
	transition: all .35s, opacity .25s;
    flex-direction: column;
	gap: 10px;
	padding: 10px;
	width: 100%;
}

div.TypeSelector span.Title {
    display: flex;
    flex-direction: column;
    background: #333;
	font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 2px gray;
	transition: all .4s;
	cursor: pointer;
    width: 100%;
}


div.TypeSelector span.Title.active {
	border: solid 2px lime;
	box-shadow: 0px 0px 3px 1px #00ff00a3;
}

div.TypeSelector span.Title .description {
    font-size: small; color: #999; font-weight: 400;
}

img.openSettings:hover {
	border: solid 1px #ff1588;
	rotate: 45deg;
	border-radius: 20px;
}
img.openSettings {
	height: 40px;
	width: 40px;
	background: black;
	border: solid 1px #a50051;
	transition: all .3s;
	border-radius: 10px;
	padding: 8px;
	position: absolute;
	z-index: 2;
	bottom: 5px;
	left: 5px;
	cursor: pointer;
}


div.ListEditorScreen {
    position: absolute;
    z-index: 4;
    left: 100%;
    height: 100%;
	width: 100%;
    max-height: 600px;
	transition: all .55s;
    top: 0px;
    overflow: auto;
}

div.ListEditorScreen div.topbar {
	width: 100%;
	height: 50px;
	background: #00000078;
	padding-bottom: 5px;
	border-bottom: solid 1px #ff007d;
}

div.ListEditorScreen div.topbar div img {
	position: relative;
	width: 35px; height: 35px;
	margin-left: 5px; margin-top: 5px;
	background: transparent;
	padding: 6px;
	border-radius: 7px;
	transition: all .3s;
}

div.ListEditorScreen div.topbar div { cursor: pointer; width: 100%; }
div.ListEditorScreen div.topbar div:hover img { background: #75757590; }

div.ListEditorScreen div.topbar div span {
	font-size: large;
    display: flex; margin-top: 2px;
    align-items: center; margin-left: 5px;
}

div.ListEditorScreen div.topActivity, div.ListEditorScreen div.RulesList {
    padding: 10px 2px;
    padding-top: 0px;
    padding-right: 4px;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

div.ListEditorScreen div.topActivity {padding: 0px 10px 10px 10px !important}

div.ListEditorScreen div.topActivity input, div.ListEditorScreen div.RulesList input {
	padding: 0px 10px;
	background: black;
	border: solid 2px #b30075;
	border-radius: 10px;
	outline: none;
	color: white;
	transition: all .3s;
	width: 100%;
}

div.ListEditorScreen div.topActivity input:focus {
	border: solid 2px white;
}

div.ListEditorScreen div.topActivity button, div.ListEditorScreen div.RulesList button {
	aspect-ratio: 1/1;
	height: 43px;
	border-radius: 10px;
	border: solid 2px #b30075;
	transition: all .3s;
	background: #000000a3;
	color: white;
	font-size: x-large;
}

div.ListEditorScreen div.topActivity button:hover {
	border: solid 2px white;
}

div.ListEditorScreen span.split {
	height: 1px;
	background: gray;
	width: 100%;
}

div.ListEditorScreen div.RulesList {
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: all .3s
}
div.ListEditorScreen div.RulesList::-webkit-scrollbar {
  display: none;
}

div.ListEditorScreen div.RulesList {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

div.ListEditorScreen div.RulesList {
    max-height: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    flex-direction: row;
    gap: 0px !important;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.ListEditorScreen div.RulesList div.Rule {
    transition: all .5s, opacity .4s;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 100px;
    flex-wrap: nowrap !important;
    position: relative;
    background: black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 1%;
    margin-bottom: 7px;
}

div.ListEditorScreen div.RulesList div.Rule img.ICONSITE.dropcolored {filter: grayscale(1)}

div.ListEditorScreen div.RulesList div.Rule, div.ListEditorScreen div.RulesList {
	display: flex; gap: 5px
}

div.ListEditorScreen div.RulesList div.Rule input {height: 40px; text-align: center; border: solid 1px transparent; outline: none; font-size: smaller;}
div.ListEditorScreen div.RulesList div.Rule:hover input { border: solid 1px gray; }
div.ListEditorScreen div.RulesList div.Rule input:focus { border: solid 1px white;}
div.ListEditorScreen div.RulesList div.Rule button {height: 40px; aspect-ratio: auto; font-size: larger; opacity: 0;}
div.ListEditorScreen div.RulesList div.Rule:hover button { opacity: 0.75;}
div.ListEditorScreen div.RulesList div.Rule button:hover { border: solid 1px white; opacity: 1;}
div.ListEditorScreen div.RulesList div.Rule button {
    position: absolute;
    border: solid 1px transparent;
    scale: 0.75;
    right: 0px;
    top: 0px;
    border-radius: 20px;
}
div.ListEditorScreen div.RulesList div.Rule img.ICONSITE {
    height: 45px;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 10px;
}


div.settingsSection {
	position: absolute;
	z-index: 4;
	top: 0px;
	left: -100%;
	width: 100%;
	transition: all .56s;
	height: 100%;
}

div.settingsSection span.split {
    width: 100%;
    margin-top: -1px;
    height: 1px;
    display: block;
    background: gray;
    z-index: 5;
    top: 1px;
}

div.settingsSection span.split2 {
    width: 100%;
    height: 1px;
    margin: 20px 0px;
    min-height: 1px;
    background: gray;
}

div.settingsSection .topPane {
    flex-direction: row;
	justify-content: space-between;
    background: black;
	align-items: center;
    padding: 5px;
	padding-left: 8px;
	cursor: pointer;
    gap: 5px;
	max-height: 45px;
}

div.settingsSection .topPane:hover img {
	background: #75757590
}

div.settingsSection .topPane img {
	rotate: 180deg; 
	width: 35px; 
	padding: 6px;
	border-radius: 10px;
	transition: all .3s;
	aspect-ratio: 1/1; background: transparent;
}

div.settingsSection .topPane span {
	font-size: large;
}

div.settingsSection div.SettingsList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100% - 45px);
    overflow: auto;
	scrollbar-width: none;
}
div.settingsSection div.SettingsList::-webkit-scrollbar {
  display: none;
}

div.settingsSection div.SettingsList div.setting div.main {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

div.settingsSection .setting {
	background: black;
	padding: 10px;
	border-radius: 25px;
}


div.settingsSection div.SettingsList div.setting.DoubleAction.top {border-end-end-radius: 8px; border-end-start-radius: 8px;}
div.settingsSection div.SettingsList div.setting.DoubleAction.end {border-start-start-radius: 8px; border-start-end-radius: 8px; margin-top: -6px;}


div.settingsSection div.SettingsList div.setting span.desc {
	font-size: small;
	color: gray;
}

div.settingsSection div.SettingsList span.split {
    width: 100%;
    height: 1px;
    display: block;
    background: gray;
}

div.settingsSection div.SettingsList div.setting > button {
    width: 100%;
    padding: 6px; 
	color: white;
	background: transparent;
	transition: all .3s;
	border: none;
	border-radius: 12px
}
div.settingsSection div.SettingsList div.setting > button:hover { background: #7373735e }


div.GitHubHosts {
	z-index: -10;
	opacity: 0;
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
	backdrop-filter: blur(10px) brightness(0.65);
	transition: none;
}


div.GitHubHosts img {
	width: 60%;
	aspect-ratio: 1/1;
	border-radius: 100%;
	box-shadow: 0px 0px 10px 0px black;
}


div.GitHubHosts div.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: black;
    top: 27px;
    border: solid 2px #515151;
    border-radius: 16px;
    margin: 0px 10px;
    padding-bottom: 5px;
}

div.GitHubHosts div.setting > div.main {
    align-items: center;
    gap: 10px;
    padding: 5px 0px;
    padding-top: 0px;
    font-size: large;
}

div.GitHubHosts div.setting > span.desc {
	text-align: center;
	font-size: small;
	opacity: 0.75;
}


div.GitHubHosts button.AppendAndGo {
	position: absolute;
	bottom: 10px;
	padding: 10px;
	border: solid 2px transparent;
	color: white;
	background: black;
	width: calc(100% - 20px);
	border: solid 2px green;
	border-radius: 10px;
}

div.GitHubHosts button.AppendAndGo:hover {
	border: solid 2px lime
}

button#reloadWhiteList:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

div.ProgressBar {
    background: #3d3d3dac;
    gap: 2px;
    padding: 3px;
    padding-right: 8px;
    border-radius: 100px;
    position: absolute;
    bottom: -50px;
    right: 10px;
    z-index: 12;
    align-items: center;
}
div.ProgressBar progress {scale: 0.75}


div.ContactDev.flex {
    height: 40px;
	justify-content: center;
	width: 100%;
    z-index: 1;
	transition: all .3s;
    bottom: 5px;
    padding: 3px;
    align-items: center;
}

div.ContactDev img {
    height: 40px;
	filter: invert(1);
}

div.ContactDev a {
	padding: 5px;
}


progress {
	--s: 30px;
    --a: calc((var(--p) * 360deg) / 100); /* Переводим в градусы */
    width: var(--s); height: var(--s); /* Размеры */
    border-radius: 50%; /* Превращаем в круг */
    background: conic-gradient(#3c82f5, #3c82f5 var(--a), #dbeafe var(--a), #dbeafe);
   }
   progress::-webkit-progress-bar {
    visibility: hidden; /* Прячем в Chrome */
   }
   progress::-moz-progress-bar {
    visibility: hidden; /* Прячем в Firefox */
   }
   

div.settingsSection div.SettingsList div.setting > span.desc.fact {
    color: #bfbfbf;
}

div.settingsSection div.SettingsList div.setting.fact > div > span {
	margin-left: 5px;
	font-size: small;
	color: #919191;
}